<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Index Page
    <h1>You have logged in as {{username}}</h1>
    <p>Your login token is </p>
      {{#token}}
        {{token}}
      {{/token}}
    <p>you viewed this page {{views}} times</p>
  </body>
</html>
