<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Login Page</h1>
    <h2>Please enter your info</h2>
    <form class="" action="/login" method="post">

      <label for="">Username</label>
      <input type="text" name="username" placeholder="Enter username..." value="">
      <label for="">Password</label>
      <input type="text" name="password" placeholder="Enter password..." value="">
      <button type="submit" name="button">Login</button>
      {{#error}}
        {{error}}
      {{/error}}
    </form>
  </body>
</html>
